@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0%;
    /* background-color: rgb(0, 0, 0); */
    /* color: white; */
}
html{
    background-color: rgb(0, 0, 0);
    color: white;
}
body{
    font-family: "Inter", sans-serif;
}
/* nav start */
.sec-1{
    height: 715px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.1);
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(224, 224, 224, 0.123)100%); */
    /* opacity: 100%; */

}
.nav-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-container>h3>i{
    color: rgb(230, 83, 60);
    text-align: left;
    font-weight: 800;
    font-size: 1.8rem;
}
nav>ul{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 700;
}
.b{
    background-color:rgb(230, 83, 60) ;
    height: 40px;
    width: 85px;
    /* text-align: center; */
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* nav end */

/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-text{

}
#span{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 78px;  
     height: 60px;  
     /* font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal; */
}
.banner-text>h2{
    font-size: 70px;
    font-weight: 900;
}
.banner-text>p{
   font-size: 15px;
   opacity: 50%;
}
#box-2{
   height: 60px;
   width: 130px;
   border-radius: 10px;
  position: absolute;
  top: 560px;
  right: 550px;
  color: white;
  background: rgba(48, 48, 48, 0.54);
  background-blend-mode:overlay;


}
.h{
    color: rgba(239, 237, 232, 0.65);
    font-size: smaller;
}
#box-text{

}
.golla{
    height: 20px;
    width: 20px;
    background: red;
    color: red;
    border-radius: 50%;
}
#box-1{
   color: white;
    height: 60px;
    width: 130px;
    background: rgba(48, 48, 48, 0.54);
  /* background-blend-mode:overlay; */
  border-radius: 12px;
  position: absolute;
  right: 230px;
  top: 280px;
}
#box-txt{
 font-size: 1rem;
 font-weight: bold;
}
.d{
 font-size: 12px;
 color: rgba(239, 237, 232, 0.65);
}
.banner-img{

}
.btn-prime{
    margin-top: 30px;
 height: 50px;
 width: 200px;
 border: none;
 background-color:rgb(230, 83, 60) ;
 border-radius: 30px;
 font-size: 18px;
 font-weight: 600;
 color: #ffff;
}
.btn-alpha{
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    color: white;
}
/* banner end */

/* mid section */

.sec-2{
    height:500px;
    width: 80%;
    /* border: 2px solid red; */
    margin:auto;
    margin-top: 80px;
}
.caption{
    text-align: center;
    margin-bottom: 50px;
}
.caption>h4{
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: 800;
}
.caption>p{
    font-size: 1rem;
    font-weight: lighter;
}
.image-container{
display: flex;
justify-content: space-between;
align-items: center;
}
/* .image-container > img{ */
    /* border: 2px solid blue; */
    /* border-radius: 50%; */

.image-caption-1>h5,p{
/* border: 1px solid red; */
 text-align: center;
 margin-top: 15px;
}
.image-caption-1>h5{
 font-size: 1rem;
 font-weight: 600px;
 color: rgb(255, 255, 255);
}
.image-caption-1>p{
font-size: 10px;
font-weight: lighter;
}
.image-caption-4{

}
#img-1{
    /* border: 3px solid red; */
    border-radius: 50%;
    padding-left: 20px;
}
/* mid one gone */

/* mid two start */

.sec-3{
    width: 80%;
    height: 380px;
    margin-top: 100px;
    margin: 0 auto;
    border: gray 2px solid;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#object-fit{
    width: 300px;
     height: 337px;
      object-fit:cover;
      /* position: absolute; */
      /* background-position: cover;
      background-repeat: no-repeat; */
      right: 100px; ;
      /* background-color: rgb(34, 34, 34); */
      border-radius: 10px;
}
.v{
    background-color: rgb(34, 34, 34);
}
.introduction{
    background-color: rgb(34, 34, 34);
}
.introduction>p{
    background-color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    
}
.introduction>h2{
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
/* vejal sectiomn end */


/* challange section */

.bmi{
    height: 150px;
    width: 60%;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    align-items: ;
}
.bmi>h4{
    font-size: 3.5rem;
    font-weight: 800;
}
.bmi>p{
    font-weight: lighter;
    font-size: 14px;
}
/* challange calculator */
.challnge-sec{
    height: 489px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-g{
    /* background-color: rgb(34, 34, 34); */
}
table{
    border-collapse: collapse;
}
tr,td{
    border: 1px solid snow;
    padding: 5px 10px;
}
.calculate-sec{
 display: grid;
 grid-template-columns:auto;
 gap: 10px;
}
.gen{

}
.ace{

}


/* meet team */
.image-container-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


/* footer section */
#footer{
    height: 500px;
    width: 100%;
    border: 2px solid blue;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;

}
.footer-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-top:98px ;
}
.child{
    /* background-color: rgba(255, 255, 255, 0.1); */
}
.child>h3>i{
    /* background: rgba(255, 255, 255, 0.1); */
    color: rgb(230, 83, 60);
    text-align: left;
    font-weight: 800;
    font-size: 1.8rem;
    /* flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border: 1px solid aqua; */
   
}
.child>p{
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    /* background: rgba(255, 255, 255, 0.1); */
}
.child-2>h6{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
    /* background: rgba(255, 2/55, 255, 0.1); */
}
.ul-sec>h6{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
    /* background: rgba(255, 255, 255, 0.1); */
}
#last-ul>li{
    margin-bottom: 15px;
}
#last-ul{
    font-size: 16px;
    font-weight: lighter;
    padding: 0%;
    /* background: rgba(255, 255, 255, 0.1); */
}
#last-ul-2>li{
    margin-bottom: 15px;
}
#last-ul-2{
    font-size: 16px;
    font-weight: lighter;
    padding: 0%;
    /* background: rgba(255, 255, 255, 0.1); */
}
.ul-sec{
    margin-left: 100px;
    /* background-color: rgba(255, 255, 255, 0.1); */
}
.child-2{
    margin-left: 100px;
    /* background-color: rgba(255, 255, 255, 0.1); */
}